<!DOCTYPE html>
<html lang="en-US">
    <head>
        <link rel="stylesheet" type="text/css" href="../static/templates.css">
        <meta charset="utf-8">
        <title>&lt;Web&gt; add_user</title>
    </head>
    <body>
        <ul>
            <form name="x" action="home.html" method="get">
                <li><a href="./home.html">Home</a></li>
            </form>
            <form name="x" action="templates.html" method="get">
                <li style="float:right"><a href="./templates.html">Connection</a></li>
            </form>
            <form name="x" action="add_user.html" method="get">
                <li style="float:right"><a class="active" href="./add_user.html">Create account</a></li>
            </form>
            </ul>
        <br/>
        <h1>Sign Up</h1>
        <br/><br/><br/>
        <hr><p>"Please fill in this form to create an account."</p><hr>
        <br/><br/><br/>
        <div class="box_two">
            <list class="name" >
                <label for="name">Name</label>
                <br/>
                <input type="text" placeholder="Type your username" id="user_name" name="user_name">
            </list>
            <pre></pre>
            <list class="password">
                <label for="password">Password</label>
                <br/>
                    <input type="password" placeholder="Type your Password" id="password" name="user_password">
                <pre></pre>
                    <script src="../static/user.js"></script>
                    <input type="submit" value="Valider" onclick="create_user();" />
            </list>
        </div>
    </body>
</html>