<!DOCTYPE html>
<html lang="en-US">
    <head>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <meta charset="utf-8">
        <title>&lt;Web&gt; add_user</title>
    </head>
    <body>
        <br/>
        <h1>Sign Up</h1>
        <br/><br/><br/>
        <hr><p>"Please fill in this form to create an account."</p><hr>
        <br/><br/><br/>
        <div class="box_two">
            <list class="name" >
                <label for="name">Name</label>
                <br/>
                <input type="text" placeholder="Type your name" id="user_name" name="user_name">
            </list>
            <pre></pre>
            <list class="password">
                <label for="password">Password</label>
                <br/>
                    <input type="password" placeholder="Type your Password" id="password" name="user_password">
                <pre></pre>
                <list class="repeat"></list>
                    <input type="password" placeholder="Repeat your Password" name="psw-repeat" required>
                <pre></pre>
                    <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
                <pre></pre>
                    <input type="submit" value="Valider" />
            </list>
        </div>
    </body>
</html>