<!DOCTYPE html>
<html lang="en-US">
    <head>
        <link rel="stylesheet" type="text/css" href="../static/templates.css">
        <meta charset="utf-8">
        <title>&lt;Web&gt; EpyTodo</title>
    </head>
    <body>
        <ul>
            <form name="x" action="home.html" method="get">
                <li><a class="active" href="./home.html">Home</a></li>
            </form>
            <form name="x" action="templates.html" method="get">
                <li style="float:right"><a href="./templates.html">Connection</a></li>
            </form>
            <form name="x" action="add_user.html" method="get">
                <li style="float:right"><a href="./add_user.html">Create account</a></li>
            </form>
            <form name="x" action="to_do.html" method="get">
                <li><a href="./to_do.html">To do</a></li>
            </form>
            </ul>
        <br/><br/><br/><br/>
        <h1>TO DO</h1>
    </body>
</html>