link {
    display: none;
}

html {
    background-color: rgb(137, 134, 144);
}

.name {
    text-align: center;
    list-style-type: none;
    color: black;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    display: block;
}

.box {
    margin-top: 50px;
    border: 5px solid rgb(230, 223, 185);
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 400px;
}

.box_two {
    margin-top: 50px;
    border: 5px solid rgb(230, 223, 185);
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 350px;
}

p {
    font-size: 30px;
    text-align: center;
}

.password {
    text-align: center;
    list-style-type: none;
    font-size: 20px;
    margin-bottom: 20px;
    color: black;
    display: block;
}

fieldset {
    margin-top: 10px;
    background-color: rgba(10, 10, 10, 0.541);
}

.box_to_do {
    margin-top: 10px;
    font-size: 20px;
    border: 5px solid rgba(0, 0, 0, 0.76);
    background-color: rgba(255, 255, 255, 0.993);
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 500px;
}

.repeat {
    text-align: center;
    list-style-type: none;
    font-size: 20px;
    margin-bottom: 20px;
    color: black;
    display: block;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.815);
    width: 380px;
    height: 60px;
    border: 4px solid black;
}

label  {
    font-size: 25px;
}

legend {
    font-size: 30px;
    padding: 10px;
    background: rgb(29, 32, 173);
    color: rgb(212, 218, 218);
    border: 3px solid black;
}

h3 {
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    color : #413e3d;
}

form {
    color: white;
}