<!DOCTYPE html>
<html lang="en-US">
    <head>
        <link rel="stylesheet" type="text/css" href="../static/templates.css">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <meta charset="utf-8">
        <title>&lt;Web&gt; EpyTodo</title>
    </style>
    </head>
    <body>
        <ul>
            <form name="x" action="home.html" method="get">
                <li><a href="./home.html">Home</a></li>
            </form>
            <form name="x" action="templates.html" method="get">
                <li style="float:right"><a class="active" href="./templates.html">Connection</a></li>
            </form>
            <form name="x" action="add_user.html" method="get">
                <li style="float:right"><a href="./add_user.html">Create account</a></li>
            </form>
            <form name="x" action="to_do.html" method="get">
                <li><a href="./to_do.html">To do</a></li>
            </form>
            </ul>
        <br/>
        <h1>Connection</h1>
        <br/><br/><br/><hr>
        <br/><br/><br/>
        <div class="box">
            <h3>CONNECTION</h3>
            <list class="name" >
                <label for="name">Name</label>
                <br/>
                <input type="text" id="user_name" name="user_name">
            </list>
            <pre></pre>
            <br/>
            <list class="password">
                <label for="password">Password</label>
                <br/>
                <input type="password" id="password" name="user_password">
                <pre></pre>
                <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
                <pre></pre>
                <i class="fas fa-check-circle"></i>
                <input type="submit" value="Validate">
                <br/>
                <form name="x" action="add_user.html" method="get">
                <i class="fas fa-user-plus"></i>
                <input type="submit" value="Sign up">
                </form>
            </list>
        </div>
    </body>
</html>