<!DOCTYPE html>
<html lang="en-US">
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <meta charset="utf-8">
        <title>&lt;Web&gt; EpyTodo</title>
    </head>
    <body>
        <br/><br/><br/><br/>
        <h1>TO DO</h1>
        <br/><br/><br/><br/><br/><br/>
        <div class="box_to_do">
            <div class="to_do">
            <br/><br/>
                <fieldset>
                    <legend>Ma to do list :</legend>
                    <div><pre></pre>
                        <input type="checkbox" id="coding" name="interest" value="coding">
                        <label for="coding">Aller chercher Sloopy</label>
                    </div>
                    <div><pre></pre>
                        <input type="checkbox" id="music" name="interest" value="music">
                        <label for="music">Faire les courses</label>
                    </div>
                    <div><pre></pre>
                        <input type="checkbox" id="music" name="interest" value="music">
                        <label for="music">Appeler Mamie</label>
                    </div>
                    <div><pre></pre>
                        <input type="checkbox" id="music" name="interest" value="music">
                        <label for="music">Ranger ma chambre</label>
                    </div>
                    <div><pre></pre>
                        <input type="checkbox" id="music" name="interest" value="music">
                        <label for="music">Finir projet EpyTodo</label>
                    </div>
                </fieldset>
            </list>
        </div>
        </div>
    </body>
</html>