<!DOCTYPE html>
<html lang="en-US">
    <head>
        <link rel="stylesheet" type="text/css" href="../static/templates.css">
        <meta charset="utf-8">
        <title>&lt;Web&gt; EpyTodo</title>
    </head>
    <body>
        <ul>
            <form name="x" action="/home" method="get">
                <li><a href="home">Home</a></li>
            </form>
            <form name="x" action="/" method="get">
                <li style="float:right"><a href="/">Connection</a></li>
            </form>
            <form name="x" action="/add_user" method="get">
                <li style="float:right"><a href="/add_user">Create account</a></li>
            </form>
            <form name="x" action="/to_do" method="get">
                <li><a class="active" href="/to_do">To do</a></li>
            </form>
            </ul>
        <br/><br/><br/><br/>
        <h1>TO DO</h1>
        <br/><br/><br/><br/><br/><br/>
        <div class="box_to_do">
            <div class="to_do">
            <br/><br/>
                <fieldset>
                    <legend>Ma to do list :</legend>
                    <div><pre></pre>
                        <input type="checkbox" id="coding" name="interest" value="coding">
                        <label for="coding">Aller chercher Sloopy</label>
                    </div>
                    <div><pre></pre>
                        <input type="checkbox" id="music" name="interest" value="music">
                        <label for="music">Faire les courses</label>
                    </div>
                    <div><pre></pre>
                        <input type="checkbox" id="music" name="interest" value="music">
                        <label for="music">Appeler Mamie</label>
                    </div>
                    <div><pre></pre>
                        <input type="checkbox" id="music" name="interest" value="music">
                        <label for="music">Ranger ma chambre</label>
                    </div>
                    <div><pre></pre>
                        <input type="checkbox" id="music" name="interest" value="music">
                        <label for="music">Finir projet EpyTodo</label>
                    </div>
                </fieldset>
            </list>
        </div>
        </div>
    </body>
</html>