<!DOCTYPE html>
<html lang="en-US">
    <head>
        <link rel="stylesheet" type="text/css" href="../static/to_do.css">
        <meta charset="utf-8">
        <title>&lt;Web&gt; EpyTodo</title>
    </head>
    <body>
        <div id="myDIV" class="header">
            <h2 style="margin:5px">My To Do List</h2>
            <input type="text" id="myInput" placeholder="You have to..">
            <span onclick="newElement()" class="addBtn">Add</span>
        </div>
        <ul id="myUL">
        </ul> 
    <script src="../static/to_do.js"></script>
    </body>