link {
    display: none;
}

html {
    background-color: #008080;
    background-repeat: repeat-x;
}

ul {
    position: sticky;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  p {
    float: left;
    border-right:1px solid #bbb;
  }
  
  p:last-child {
    border-right: none;
  }
  
  p a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  p a:hover:not(.active) {
    background-color: #111;
  }

.name {
    text-align: center;
    list-style-type: none;
    color: black;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    display: block;
}

.box {
    margin-top: 50px;
    border: 5px solid rgb(236, 203, 13);
    background-color: rgba(243, 239, 239, 0.979);
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 400px;
}

.box_two {
    margin-top: 50px;
    border: 5px solid rgb(236, 203, 13);
    background-color: rgba(243, 239, 239, 0.979);
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 400px;
}

i {
    margin-left: auto;
    color: black;
}

.password {
    text-align: center;
    list-style-type: none;
    font-size: 20px;
    margin-bottom: 20px;
    color: black;
    display: block;
}

.box_to_do {
    margin-top: 10px;
    font-size: 20px;
    border: 5px solid rgba(0, 0, 0, 0.76);
    background-color: rgba(255, 255, 255, 0.993);
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 500px;
}

.repeat {
    text-align: center;
    list-style-type: none;
    font-size: 20px;
    margin-bottom: 20px;
    color: black;
    display: block;
}

h1 {
    font-size: 50px;
    display: block;
    text-align: center;
    color: white;
    background-color: rgb(56, 55, 55);
    width: 400px;
    height: 80px;
    border: 4px solid rgb(201, 168, 20);
}

label  {
    margin-left: 0px;
    font-size: 25px;
}

legend {
    font-size: 30px;
    padding: 10px;
    background: rgb(29, 32, 173);
    color: rgb(212, 218, 218);
    border: 3px solid black;
}

h3 {
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    color : #413e3d;
}

form {
    color: white;
}