body {
  margin: 0;
  min-width: 250px;
}

html {
    background: #008080;
    background-repeat: repeat-x;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: rgb(201, 168, 20);
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  color: white;
  background-color: rebeccapurple;
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: yellow;
  color: black;
}

.header {
  text-decoration: overline;
  font-size: 30px;
  background-color: grey;
  padding: 30px 40px;
  color: black;
  text-align: center;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  border: 3px;
  border-style: solid;
  border-color: pink;
  margin: 0;
  background-color: white;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 18px;
}

.addBtn {
  border: 3px;
  border-style: solid;
  border-color: white;
  padding: 10px;
  width: 25%;
  background: black;
  color: white;
  float: left;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: orange;
}